﻿
@CHARSET "UTF-8";


/**************Reset block*****************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
.divCenter{
  width: 100%; 
  position: relative;
}
.page{
  position: relative;
  width: 100%;
  height: 100%;
}
.box{
  width: 100%;
  height: 30px;
	position: relative;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.boxVersion{
  position: absolute; 
  top: 0px; 
  left: 0px; 
  padding: 6px 0;
  text-align: left;  
  white-space:nowrap;
  z-index: -1;
}
.fontMenuPadding{
  padding: 0px 4px;
}
.tool{
  width: 52px;
  position: absolute;
  top: 50%;
  display: table-cell;
  vertical-align: middle;
}
.leftTool{
  text-align: center;
  left: -60px; 
}
.rightTool{
  text-align: center;
  right: -60px;  
}
.pointerFloatLeft{
  float: left;
}
.pointerFloatLeft p{
   position: absolute; 
   right: 10px; 
   text-align: right;
}
.pointerFloatRight{
  float: right;
}
.pointerFloatRight p{
   position: absolute; 
   left: 10px; 
   text-align: left;
}
.divPage{
  background: #ffffff; 
  -webkit-box-shadow: 0px 3px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 3px 10px rgba(0,0,0,.8);
  box-shadow: 0px 3px 10px rgba(0,0,0,.8);
  behavior: url(./javascript/pie.htc);
}
.notActive{
  opacity: 0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */ 
}
.div_items      {margin: 0px; padding: 0px; position: absolute; overflow: hidden;   border : 0px solid green;}
    
body{
	font: normal normal normal 12px/18px Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
	padding: 0px; 
  margin: 0px; 
  background:#7D858A;	
  position: relative;  
}
.bodyBg{
	z-index: -1; 
  position: fixed; 
  width: 100%;
  height: 100%;
  background: url(../../flash/image/grey-outer.jpg);
  background-size: cover;
}
h1 {
	font-size:25px;
	font-family: Helvetica, sans-serif, Arial, Lucida Sans;;
	color:#000000;
  width: 100%;
	padding: 30px 0 10px 0;
	line-height: 22px;
	text-align: left;
	//text-shadow: #222 0 0 7px;
}

h1 a{
	color:#000000;
	text-decoration: none;
}
.copy{
  font-size: 10px;
	font-family: Helvetica, sans-serif, Arial, Lucida Sans;
  width: 100%;
	padding: 0px 0 10px 0;
	line-height: 22px;
	text-align: right;
}
.copy a{
	color:#000000;
	text-decoration: none;
}
.fontVersion {
  font-size:10px; 
  font-family:Helvetica, sans-serif, Arial, Lucida Sans;
  color:#000000;
}
.menu{
  padding: 6px 16px;
  height: 34px;
  position: absolute; 
  text-align: center;  
  white-space:nowrap;
  top: 0px; 
  right: 0px; 
  border-radius: 3px;
  behavior: url(./javascript/PIE.htc);
  background: rgba(200, 200, 200, 0.3); 
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#44CCCCCC, endColorstr=#44CCCCCC);

}

.fontMenu {
  float: right;
  font-size:10px; 
  font-family:Helvetica, sans-serif, Arial, Lucida Sans;
  color:#000000;
}
.fontMenu a{
  color:#000000;
  font-weight: bold;
  text-decoration: none;
}

.pointerSymbol{
  padding: 10px 0;
  width: 32px;
  height: 69px;
  text-decoration: none;
  position: relative;
  overflow: visible;
}

.pointerText{
  width: 55px;
  font-size:10px; 
  font-family:Helvetica, sans-serif, Arial, Lucida Sans;
  color:#000000; 
  position: relative;
  text-decoration: underline;
}
.areaLink{
  background: #3FC7FF;
  opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  //filter:alpha(opacity=0); /* For IE8 and earlier */ 
}
.areaLink:hover {
  opacity:  0.5;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
/* TOC */
h2 { 
  font-size:17px; 
  font-family:Helvetica, sans-serif, Arial, Lucida Sans;
  color:#000000; 
  text-align: left;
  padding: 30px 40px 0px 40px;
}


.bold{
  font-weight: bold;
}

.fontPageName{ 
    padding: 0 15px 0px 0;
    font-size:12px; 
    font-family:Helvetica, sans-serif, Arial, Lucida Sans;
    color:#3780c1; 
    background: #ffffff; 
    word-wrap: break-word;
    border: 0px solid red;
}
            
.fontPageName: hover {text-decoration: underline;}

.fontPageNum { 
    padding: 5px 0 0 0;
    font-size:12px; 
    font-family:Helvetica, sans-serif, Arial, Lucida Sans;
    color:#5e6166; 
    background: #ffffff; 
    height: 100%;
    vertical-align: bottom;
    display: table-cell;
    float: right;
    border: 0px solid green;


} 
.fontPageNum: hover {text-decoration: underline;}

table {
   width: 100%; 
   position: relative; 
   top: 10px; 
   left: 0px;
}  
        
.tdName{
   word-wrap: break-word;
   text-align: left;
   vertical-align: bottom;
   overflow: hidden;
   table-lawout: fixed;
}          

.tdNum{
   vertical-align: bottom;
   width: 40px;
   text-align: right;
   background: #ffffff;
} 
        
        
ul{
  padding: 10px 40px 20px 40px;
  display: block;
}

ul.children{
  padding: 10px 0px 0px 0px;
  display: block;
}

li { 
  margin: 3px 0 0 0;
  list-style-type: none; 
  border-bottom: 1px dotted silver; 
  list-style-position: outside;
}

li a {
  color:#3780c1; 
	text-decoration: none; 
} 
        
li a:hover{
	text-decoration: underline; 
} 
           
li.children { 
  margin: 3px 0 0 0;
  list-style-type: none; 
  border-bottom: 0px dotted silver; 
  list-style-position: outside;
}    

   
ul li ul {}
ul li ul li {
  margin: 3px 0 0 20px;
}
     
ul li ul li ul {}
ul li ul li ul li{
  margin: 3px 0 0 40px;
}
             
ul li ul li ul li ul {}
ul li ul li ul li ul li{
  margin: 3px 0 0 60px;
}
    