body {
	margin: 0; 
	padding: 0; 
	background: url(images/bg-interna.png) repeat-x top; 
}

body.home {
	background: url(images/bg-home.png) repeat-x top; 
}

.wrapper { 
	width: 1280px;
	margin: 0 auto; 
}

.links {
	position: absolute;
	top: 0;
	z-index: 1;
	text-indent: -9999px;
}

.links a {
	display: block;
	position: absolute; 
	top: 128px;
	height: 30px;
	background: url(images/space.png) repeat-x;	
}

.links .home {
	left: 606px;
	width: 82px;
}

.links .interna {
	left: 858px;
	width: 116px;
}


